.contentBlock {
    display: flex;
    align-items: center;
    padding: 20px;
}

.description {
    width: 50%;
    padding: 20px;
}

.description__item {
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.description__name {
    display: block;
    font-weight: bold;
    width: 30%;
    
}

.description__text {
    display: block;
    width: 70%;
    padding-left: 50px;
}

.error {
    color: red;
    font-size: 20px;
}

img {
    width: 150px;
}